body {
    background-color: #cbb746;
}

.btn-outline-dark {
    background-color: white;
}

.login-card {
    background-color: #f4ebb7;
    border-radius: .75em;
}

.order-card {
    border-radius: .75em;
}

.order-card-title, .order-card-subtitle {
    display:inline;
}

.order-card-text {
    margin-bottom: 0;
}

.form-group {
    margin: auto;
    text-align: center;
}