body {
    background-color: #cbb746;
}

.btn-outline-dark {
    background-color: white;
}

.login-card {
    background-color: #f4ebb7;
    border-radius: .75em;
}

.form-group {
    margin: auto;
    text-align: center;
}